.search-box {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  position: absolute;
  width: 26rem;
  background-color: white;
  z-index: 10;
  right: 10px;
  top: 2%;
  border-radius: 10px;
  gap: 1rem;
}
.search-title {
  font-size: 1.3rem;
  font-weight: bold;
}
.search-title span {
  color: #1fd6be;
}
.search-field {
  padding: 1rem;
  width: 100%;
}
.search-field input {
  width: 100%;
  border: 1px solid rgb(241, 241, 241);
  background-color: #f7f8fa;
}
.results {
  overflow-y: auto;
  max-height: 80vh;
}
.loading {
  margin: 2rem 0;
  font-size: 0.8rem;
  margin-right: 0.7rem;
}
